body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4vw;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.5vw;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.25vw;
}

code {
  background-color: #F5F5F5;
}

hr {
    height: 3px;
    background-color: #323C4E;
    color: blue;
    margin-top: 4vw;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
}

a:hover {
    color: #DAA765;
}

li {
    padding-bottom: 0.5vw;
}

code {
    font-family: Consolas;
}

#tabs {
  width: 100vw;
  height: 5vw;
  max-height: 10vh;
  background-color: #27303E;
}

#pagenav {
    position: fixed;
    width: 17vw;
    margin-top: 5vh;
    margin-left: 3vw;
    color: white;
    background-color: #323C4E;
    font-family: "Consolas";
    padding-right: 1vw;
    max-height: 80vh;
    overflow-y: scroll;
}

#pagenav-heading {
    font-size: 2vw;
    background-color: #27303E;
    text-align: center;
    width: calc(100% + 1vw);
    display: inline-block;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.java-code {
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1vw;
    background-color: #F5F5F5;
    width: 70%;
    padding-left: 2vw;
    padding-top: 0.25vw;
    border-left: 5px solid #323C4E;
    font-family: Consolas;
    overflow-x: scroll;
}

.tab {
  background-color: transparent;
  border: none;
  font-size: 3vw;
  height: 100%;
  width: 33%;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}
